node-red/flows_yoder-debian-bone.json
[{"type":"tab","id":"ce89640f.317698","label":"Sheet 1"},{"type":"tab","id":"166bcb80.e99434","label":"Sheet 2"},{"type":"tab","id":"cb3b5778.34c4a8","label":"Sheet 3"},{"type":"tab","id":"c0996fe0.3f669","label":"Sheet 4"},{"type":"tab","id":"4d7d7a75.b28284","label":"Sheet 5"},{"id":"3e401463.c1bfec","type":"twitter-credentials","screen_name":"@MarkAYoder"},{"id":"5b2ba16e.a4d46","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137,"y":107,"z":"ce89640f.317698","wires":[["e6ac03b7.1954"]]},{"id":"b1e14e8f.4e1eb","type":"debug","name":"","active":true,"console":"false","complete":"true","x":421,"y":235,"z":"ce89640f.317698","wires":[]},{"id":"e6ac03b7.1954","type":"function","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formated Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"x":265,"y":175,"z":"ce89640f.317698","wires":[[]]},{"id":"4cc4a260.b33b5c","type":"sensorTag","name":"sensorTag","topic":"sensorTag","uuid":"","temperature":false,"humidity":false,"pressure":false,"magnetometer":false,"accelerometer":true,"gyroscope":false,"keys":true,"x":127,"y":318,"z":"ce89640f.317698","wires":[["b1e14e8f.4e1eb"]]},{"id":"31989c25.ce6764","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":129,"y":156,"z":"166bcb80.e99434","wires":[[]]},{"id":"3fabd2cd.c0542e","type":"function","name":"","func":"\t// does a simple text extract parse of the http output to provide an\n    // object containing the uk power demand, frequency and time\n    \n    if (~msg.payload.indexOf('<BR')) {\n      var words = msg.payload.split(\"div\")[1].split(\"<BR\");\n      if (words.length >= 3) {\n        msg.payload = {};\n        msg.payload.demand = parseInt(words[0].split(\":\")[1]);\n        msg.payload.frequency = parseFloat(words[2].split(\":\")[1]);\n        msg.payload.time = words[1].split(\">\")[1];\n        \n        // Create the true/false signal based on the frequency.\n        msg2 = {};\n        msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n        \n        return [msg,msg2];\n      }\n    }\n    return null;","outputs":"2","x":260,"y":311,"z":"166bcb80.e99434","wires":[["d22df210.2dd21"],["2fcdbf79.d0324"]]},{"id":"d22df210.2dd21","type":"debug","name":"","active":true,"console":false,"complete":false,"x":412,"y":311,"z":"166bcb80.e99434","wires":[]},{"id":"2fcdbf79.d0324","type":"debug","name":"","active":true,"console":false,"complete":false,"x":411,"y":375,"z":"166bcb80.e99434","wires":[]},{"id":"3247212d.cdb8de","type":"http request","name":"","method":"GET","url":"    http://www.nationalgrid.com/ngrealtime/realtime/systemdata.aspx","x":230,"y":219,"z":"166bcb80.e99434","wires":[["3fabd2cd.c0542e"]]},{"id":"6c5f72ef.93a08c","type":"twitter in","twitter":"3e401463.c1bfec","tags":"#BeagleBone","user":"false","name":"Test","topic":"tweets","x":122,"y":139,"z":"cb3b5778.34c4a8","wires":[["a1a9c55e.5e5638","3e9cc639.c1633a"]]},{"id":"a1a9c55e.5e5638","type":"debug","name":"","active":true,"console":false,"complete":false,"x":412,"y":151,"z":"cb3b5778.34c4a8","wires":[]},{"id":"71e8698e.8e1798","type":"bbb-discrete-out","pin":"P8_7","inverting":false,"toggle":true,"defaultState":"0","name":"Light","x":260,"y":223,"z":"c0996fe0.3f669","wires":[[]]},{"id":"b69b6a5a.496498","type":"inject","name":"","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":103,"y":173,"z":"c0996fe0.3f669","wires":[["71e8698e.8e1798"]]},{"id":"3a4745fb.c5b8ba","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":165,"y":139,"z":"4d7d7a75.b28284","wires":[["db822907.247dd8"]]},{"id":"db822907.247dd8","type":"http request","name":"atlas build","method":"GET","url":"http://ano-atlas2.herokuapp.com/books/1234000001747/builds","x":334,"y":177,"z":"4d7d7a75.b28284","wires":[["4a81eb59.b57e14"]]},{"id":"4a81eb59.b57e14","type":"debug","name":"","active":true,"console":false,"complete":false,"x":492,"y":218,"z":"4d7d7a75.b28284","wires":[]},{"id":"3e9cc639.c1633a","type":"bbb-discrete-out","pin":"P8_7","inverting":false,"toggle":true,"defaultState":"0","name":"Light","x":329,"y":224,"z":"cb3b5778.34c4a8","wires":[[]]}]