node-red/flows_yoder-debian-bone.json
[{"type":"tab","id":"ce89640f.317698","label":"Sheet 1"},{"id":"5b2ba16e.a4d46","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137,"y":107,"z":"ce89640f.317698","wires":[["e6ac03b7.1954"]]},{"id":"b1e14e8f.4e1eb","type":"debug","name":"","active":true,"console":"false","complete":"true","x":421,"y":235,"z":"ce89640f.317698","wires":[]},{"id":"e6ac03b7.1954","type":"function","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formated Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"x":265,"y":175,"z":"ce89640f.317698","wires":[[]]},{"id":"4cc4a260.b33b5c","type":"sensorTag","name":"sensorTag","topic":"sensorTag","uuid":"","temperature":false,"humidity":false,"pressure":false,"magnetometer":false,"accelerometer":true,"gyroscope":false,"keys":true,"x":127,"y":318,"z":"ce89640f.317698","wires":[["b1e14e8f.4e1eb"]]}]